<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Clicking Game</title>{% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "style.css" %}">
  <script type="text/javascript" src="{% static "game.js" %}"></script>
</head>
<body>
    <div class="container">
        <div class="logo_padding"></div>
        <div class="gamefield">
            <div class="stopwatchtimer">
                <span id="sec">5</span>:<span id="milli">0</span> second(s)
            </div>
            <div class="resetTimer">
                <input type="button" name="Reset Game" id="gameReset" value="Reset Game" onclick="resetGame()"/>
            </div>
            <div class="p-buffer"></div>
            <div class="centerText">
                <h2 id="ScorePlace">0</h2>
                <img src="{% static "Button Up.png" %}" alt="Button" id="gameButton" onmousedown=mouseDown(this) onmouseup=mouseUp(this)>
            </div>
        </div>
        <div class="scores">
            {%block scores %}{% endblock %}
        </div>
    </div>
</body>
</html>