{% extends 'generic.html' %}
{% block scores %}
<h2>High Scores</h2>
<ol>
    {% for scores in scores.all %}
    <li>{{ scores.high_score }} - {{ scores.full_name }}</li>
    {% endfor %}
</ol>
<p>Rules: To start the Game check to see if the timer is at 5.00, if it is, the game is ready to begin.
Upon your first click, the timer starts and the number of clicks is recorded. Once the timer runs out, the click will be recorded, and your name will be put on the leaderboard when necessary.
To play another game, click the reset game button for another shot on the leaderboard.</p>
{% endblock %}
